<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>
    {{error}}
    <br>
    <form action="login" method="post">
      Username:
      <br>
      <input type="text" name="username" autofocus="true" required>
      <br><br>
      Password:
      <br>
      <input type="password" name="password" required>
      </br><br>
      <input type="submit" value="Submit">
      <br><br><br>
      working user: "TakingTheL"<br>
      working pass: "srafi1"
  </body>
</html>
